@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.MemberEdit {
    display: flex;
    flex-direction: column;

    justify-self: center;

    max-width: 500px;
    width: 100%;
    margin-top: 50px;
    padding: 30px 30px;

    min-height: 100px;
    height: 100%;
    background-color: white;

    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}

/* 사용자 정보 수정 section */
.MemberEdit-data-form-section {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.MemberEdit-data-form {
    display: flex;
    flex-direction: column;
}

.MemberEdit-data-form-section label {
    padding: 5px 0 5px 0;
    color: #555555;
    font-weight: bold;
    font-size: 13pt;
}
.MemberEdit-data-form-section input {
    all:unset;
    border-radius: 6px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;

    padding: 6px 0 6px 10px;
    font-size: 12pt;
    transition: .2s;
}
.MemberEdit-data-form-section input:focus {
    border: 1px solid #405dfb;
}

/* 비밀번호 */
input.MemberEdit-data-password {
    margin-bottom: 10px;
}

/* 닉네임 인풋 */
input.nickname {
    /*width: 300px;*/
}
/* 모바일 인풋 */
input.mobile {
    /*width: 200px;*/
}


/* 수정 버튼 */
.MemberEdit-btn-section {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.MemberEdit-btn {
    all: unset;
    display: flex;
    justify-content: center;

    font-weight: bold;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.MemberEdit-edit-btn {
    background-color: #fa6565;
    color: white;
    width: 100px;
}
.MemberEdit-edit-btn:hover {
    background-color: #f63a3a;
}
.MemberEdit-delete-btn {
    background-color: #4e4e4e;
    color: white;
    width: 100px;
}
.MemberEdit-delete-btn:hover {
    background-color: #101010;
}

/* 필드 오류 표시 */
.MemberEdit-errorField {
    color: #ff6a6a;
    padding: 2px 0 0 10px;
    font-size: 10pt;
}