.Posts {
    display: flex;
    flex-direction: column;

    margin-top:50px;
    padding: 0 40px;
}

.posts-searchBar-section{
    margin:10px 0;
}

.posts-body-content-section {
}

/* 작성글 타이틀 */
.posts-body-title-section {
    margin-top: 20px;
    padding: 10px 0;

    display: flex;
    background-color: #333333;
    color: #fdfdfd;
    font-weight: bold;
}

.posts-body-title-section > div{
    text-align: center;
}

/* 게시글 정보 각각 */
.posts-body-title-section > div:nth-child(1) { /* postId: 글 번호*/
    width: 110px;
}

.posts-body-title-section > div:nth-child(2) { /* title: 글 제목 */
    flex: 1;
}

.posts-body-title-section > div:nth-child(3) { /* viewCount: 조회수 */
    width: 90px;
}

.posts-body-title-section > div:nth-child(4) { /* nickname: 작성자 닉네임 */
    width: 130px;
}

.posts-body-title-section > div:nth-child(5) { /* createdAt: 작성일 */
    width: 200px;
}


/* 페이지 네이션 */
/*.paging-nav {*/
/*    display: flex;*/
/*    gap: 6px;*/
/*    margin-bottom: 30px;*/

/*    justify-content: center;*/
/*}*/

/*.paging-nav > button {*/
/*    all: unset;*/
/*    background-color: white;*/
/*    border: 1px solid #c6c6c7;*/

/*    padding: 4px 10px;*/
/*    border-radius: 3px;*/
/*    transition: 0.2s;*/
/*    cursor: pointer;*/
/*}*/

/*.paging-nav > button:hover {*/
/*    background-color: rgba(217, 217, 217, 0.91);*/
/*    transition: 0.2s;*/
/*}*/

/*.paging-nav > button.active {*/
/*    border: 1px solid #333333;*/
/*    background-color: #333333;*/
/*    font-weight: bold;*/
/*    color:white;*/
/*}*/