.Comment {
    margin: 16px 0;
}

/* 댓글 */
.comment-info,
.comment-content {
    font-size:11pt;
}

.comment-info {
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;

    border-radius: 4px;
    background-color: #e8e8e8;
}
.comment-content {
    padding: 8px 16px;
}
.comment-createAt {
    font-size:10pt;
}

/* 대댓글 */