.Header {
    display: flex;
}

.Header > h1,
.Header > h2,
.Header > h3,
.Header > h4{
    margin:0;
}

.Header > h1 {
    font-size: 22pt;
}
.Header > h2 {
    font-size: 19pt;
}
.Header > h3 {
    font-size: 15pt;
}
.Header > h4 {
    font-size: 13pt;
}

/* 타이틀 위치 */
.Header-right {
    justify-content: end;
}

.Header-left {
    justify-content: start;
}

.Header-center {
    justify-content: center;
}

/* 타이틀 색 지정 */
.color-basic {
    color: #2c3e4f;
}

.color-black {
    color: #000000;
}