/* 버튼 기본 스타일 */
.NavButton {
    all:unset;
}

.NavButton:hover {
    cursor: pointer;
    transition: 0.1s;
}

/* posts 글쓰기 버튼 */
.Nav-new-posts {
    margin:30px 0;
    padding: 8px 50px;

    color:white;
    background-color: #333333;
    border-radius: 5px;
}

.Nav-new-posts:hover {
    background-color: #515151;
}

/* 게시글 수정하기 버튼*/
.post-edit-btn {
    margin:120px 0 0 0;
    padding: 5px 20px;
    font-size: 11pt;

    display: flex;
    justify-self: right;

    background-color: #fa5b5b;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.post-edit-btn:hover {
    background-color: #ff8585;
}

/* 사용자 정보 수정 버튼*/
.MemberDetail-edit {
    padding: 3px 15px;
    font-size: 11pt;
    color: white;
    background-color: #fa5b5b;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}
.MemberDetail-edit:hover {
    background-color: #fa3c3c;
    transition: .2s;
}
