/* posts 글쓰기 버튼 */
.Nav-new-posts {
    all:unset;

    margin:30px 0;
    padding: 8px 50px;

    color:white;
    background-color: #333333;
    border-radius: 5px;
    cursor: pointer;
}

.Nav-new-posts:hover {
    background-color: #515151;
    transition: 0.1s;
}